# Node modules
node_modules/

# Logs
*.log

# Environment variables
.env

# Build output
dist/
build/

# Frontend specific
/frontend/dist/
/frontend/build/
/frontend/node_modules

# Server specific
/server/dist/
/server/build/
/server/node_modules
